<form>
    <div class="tittle">
        <h2>NUEVA ENTRADA</h2>
    </div>
    <div class="separator">
        <div class="">
            <label for="quant">Cantidad[$]</label>
            <input name="quant" type="number" value="123">
        </div>
        <div class="">
            <label for="description">Descripcion</label>
            <input name="description" type="text" value="Inicio de semana">
        </div>
        <div class="">
            <label for="date">Fecha</label>
            <input name="date" type="date">
        </div>
        <div class="">
            <label for="category">Categoria</label>
            <select name="category">
                <option value="0">Selecciona una opcion</option>
                <option value="Casa">Casa</option>
            </select>
        </div>
    </div>
    <div class="">
        <button type="submit">
            Guardar
        </button>
    </div>
</form>