<form [formGroup]="formData" (ngSubmit)="btnSave(formData.value)">
    <div class="tittle">
        <h2>Añadir {{titleForm|lowercase}}</h2>
    </div>
    <div class="separator">
        <div class="">
            <label for="quant">Cantidad[$]</label>
            <input required name="quant" formControlName="quant" type="number" placeholder="123">
        </div>
        <div class="">
            <label for="description">Descripcion</label>
            <input required name="description" formControlName="description" type="text" placeholder="abc...">
        </div>
        <div class="">
            <label for="date">Fecha</label>
            <input required name="date" formControlName="date" type="date">
        </div>
    </div>
    <div class="">
        <button type="submit" [disabled]="!formData.valid">
            Guardar
        </button>
        <button class="btnCancel" type="button" (click)="btnCancel()">
            Cancelar
        </button>
    </div>
</form>