<div class="containerTable">
    <div class="titleTable">
        <span></span>
        <h1>{{titleTable}}</h1>
        <button class="addBtn" (click)="addBtn()">[+]</button>
    </div>
    <div class="headerTable">
        <div class="quant">
            <h3>$$$</h3>
        </div>
        <div class="description">
            <h3>Descripcion</h3>
        </div>
        <div class="date">
            <h3>Fecha</h3>
        </div>
        <div class="action">
            <h3>Accion</h3>
        </div>
    </div>
    <ng-container *ngFor="let data of dataTable; let i=index">
        <div class="lineTable">
            <div class="quant">{{data.quant|currency:'MXN':'symbol'}}</div>
            <div class="description">{{data.description}}</div>
            <div class="date">{{data.date}}</div>
            <div class="action">
                <button class="editBtn" (click)="editBtn(data)">Editar</button>
                <button class="deleteBtn" (click)="deleteBtn(data,i)">Eliminar</button>
            </div>
        </div>
    </ng-container>
</div>