<div class="containerTable">
    <div class="titleTable">
        <span></span>
        <h1>Entrada</h1>
        <button class="addBtn">[+]</button>
    </div>
    <div class="headerTable">
        <div class="quant">
            <h3>$$$</h3>
        </div>
        <div class="description">
            <h3>Descripcion</h3>
        </div>
        <div class="date">
            <h3>Fecha</h3>
        </div>
        <div class="action">
            <h3>Accion</h3>
        </div>
    </div>
    <div class="lineTable">
        <div class="quant">$200</div>
        <div class="description">Inicio</div>
        <div class="date">12/01/2021</div>
        <div class="action">
            <button class="editBtn">Editar</button>
            <button class="deleteBtn">Eliminar</button>
        </div>
    </div>
    <div class="lineTable">
        <div class="quant">$200</div>
        <div class="description">Inicio</div>
        <div class="date">12/01/2021</div>
        <div class="action">
            <button class="editBtn">Editar</button>
            <button class="deleteBtn">Eliminar</button>
        </div>
    </div>
</div>