<div class="container">
    <header>
        <div class="title">
            <div class="titleMsg">
                <h2>Control de finanzas.</h2>
            </div>
            <div class="titleDate">
                <h5 class="dateTime">{{todayDate|date:formatDate|titlecase}}</h5>
            </div>
        </div>
        <div class="gridContainer">
            <h4 class="resumeTitle">Resumen</h4>
            <div class="resumeWrapper">
                <div class="itemWrapper entradaData">Entrada (+)</div>
                <div class="itemWrapper salidaData">Salida (+)</div>
                <div class="itemWrapper externoData">Externo (+)</div>
                <div class="itemWrapper totalData">Total</div>

                <div class="entradaData ">$1500</div>
                <div class="salidaData ">$1000</div>
                <div class="externoData ">$100</div>
                <div class="totalData ">$400</div>
            </div>
        </div>
    </header>
    <section class="containerTable">
        <ng-container *ngIf="!stateForm">
            <div class="selectorTable">
                <button (click)="changeTableSection(1)" type="button"
                    [ngClass]="stateTable==1?'btnSelect':''">Entrada</button>
                <button (click)="changeTableSection(2)" type="button"
                    [ngClass]="stateTable==2?'btnSelect':''">Salida</button>
                <button (click)="changeTableSection(3)" type="button"
                    [ngClass]="stateTable==3?'btnSelect':''">Externo</button>
            </div>
        </ng-container>
        <div class="table">
            <ng-container *ngIf="!stateForm; else form">
                <app-table [titleTable]="titleTable" [dataTable]="dataTable" (stateSection)="changeFormState($event)">
                </app-table>
            </ng-container>
            <ng-template #form>
                <app-form (stateSection)="changeFormState($event)" [titleForm]="titleTable">
                </app-form>
            </ng-template>
        </div>
    </section>
</div>