<div class="container">
    <header>
        <div class="title">
            <div class="titleMsg">
                <h2>Control de finanzas.</h2>
            </div>
            <div class="titleDate">
                <h5 class="dateTime">{{todayDate|date:formatDate|titlecase}}</h5>
            </div>
        </div>
        <div class="gridContainer">
            <h4 class="resumeTitle">Resumen</h4>
            <div class="resumeWrapper">
                <div class="itemWrapper entradaData">Entrada (+)</div>
                <div class="itemWrapper salidaData">Salida (+)</div>
                <div class="itemWrapper externoData">Externo (+)</div>
                <div class="itemWrapper totalData">Total</div>

                <div class="entradaData ">{{homeSvc.inDataTotal$|async|currency:'MXN':'symbol'}}</div>
                <div class="salidaData ">{{homeSvc.outDataTotal$|async|currency:'MXN':'symbol'}}</div>
                <div class="externoData ">{{homeSvc.otherDataTotal$|async|currency:'MXN':'symbol'}}</div>
                <div class="totalData ">{{homeSvc.totalData|currency:'MXN':'symbol'}}</div>
            </div>
        </div>
    </header>
    <section class="containerTable">
        <ng-container *ngIf="!stateForm">
            <div class="selectorTable">
                <button (click)="selectDataInTable(1)" type="button"
                    [ngClass]="sectionTable==1?'btnSelect':''">Entrada</button>
                <button (click)="selectDataInTable(2)" type="button"
                    [ngClass]="sectionTable==2?'btnSelect':''">Salida</button>
                <button (click)="selectDataInTable(3)" type="button"
                    [ngClass]="sectionTable==3?'btnSelect':''">Externo</button>
            </div>
        </ng-container>
        <div class="table">
            <ng-container *ngIf="!stateForm; else form">
                <ng-container *ngIf="sectionTable==1">
                    <app-table 
                    [dataTable]="homeSvc.fillIn|async" 
                    [titleTable]="titleTable" 
                    (stateSection)="changeFormState($event)"
                    (dataEdit)="editDataTable($event)"
                    (dataDelete)="deleteDataTable($event)"
                    >
                    </app-table>
                </ng-container>
                <ng-container *ngIf="sectionTable==2">
                    <app-table 
                    [dataTable]="homeSvc.fillOut|async" 
                    [titleTable]="titleTable" 
                    (stateSection)="changeFormState($event)"
                    (dataEdit)="editDataTable($event)"
                    (dataDelete)="deleteDataTable($event)"
                    >
                    </app-table>
                </ng-container>
                <ng-container *ngIf="sectionTable==3">
                    <app-table 
                    [dataTable]="homeSvc.fillOther|async" 
                    [titleTable]="titleTable" 
                    (stateSection)="changeFormState($event)"
                    (dataEdit)="editDataTable($event)"
                    (dataDelete)="deleteDataTable($event)"
                    >
                    </app-table>
                </ng-container>
                
            </ng-container>
        </div>
        <ng-template #form>
            <app-form 
            (stateForm)="changeFormState($event)" 
            (dataOutputForm)="saveDataForm($event)"
            [dataInputForm]="dataForm" 
            [titleForm]="titleTable"
            >
            </app-form>
        </ng-template>
    </section>
</div>