<div class="container">
    <div class="header">
        <div class="title">
            <div class="titleMsg">
                <h2>Control de finanzas.</h2>
            </div>
            <div class="titleDate">
                <h5 class="dateTime">Lunes, 8 Diciembre 2021 - 02:33 PM</h5>
            </div>
        </div>
        <div class="gridContainer">
            <h4 class="resumeTitle">Resumen</h4>
            <div class="resumeWrapper">
                <div class="itemWrapper entradaData">Entrada (+)</div>
                <div class="itemWrapper salidaData">Salida (+)</div>
                <div class="itemWrapper externoData">Externo (+)</div>
                <div class="itemWrapper totalData">Total</div>
                
                <div class="entradaData ">$1500</div>
                <div class="salidaData ">$1000</div>
                <div class="externoData ">$100</div>
                <div class="totalData ">$400</div>
            </div>
        </div>
    </div>
</div>